[submodule "src/Violet.Blazor"]
	path = src/Violet.Blazor
	url = https://github.com/Violet-VE/Violet.Blazor.git
[submodule "src/Violet.PM"]
	path = src/Violet.PM
	url = https://github.com/Violet-VE/Violet.PM.git
[submodule "src/Violet.Auth"]
	path = src/Violet.Auth
	url = https://github.com/Violet-VE/Violet.Auth.git
[submodule "src/Violet.DCC"]
	path = src/Violet.DCC
	url = https://github.com/Violet-VE/Violet.DCC.git
[submodule "src/Violet.MC"]
	path = src/Violet.MC
	url = https://github.com/Violet-VE/Violet.MC.git
[submodule "src/Violet.Scheduler"]
	path = src/Violet.Scheduler
	url = https://github.com/Violet-VE/Violet.Scheduler.git
[submodule "src/Violet.TSC"]
	path = src/Violet.TSC
	url = https://github.com/Violet-VE/Violet.TSC.git
[submodule "src/Violet.Alert"]
	path = src/Violet.Alert
	url = https://github.com/Violet-VE/Violet.Alert.git
